@model CategoryAddResponseViewModel

<form>
     <a asp-route="category-add-post"></a>
    <div class="form-group">
        <label asp-for="Name">Product Size:</label>
        <input asp-for="Name" type="text" class="form-control" id="productSize" placeholder="Enter size name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary addCateBtn">Add Product</button>
</form>