@model CategoryAddResponseViewModel

<form>
     <a asp-route="category-add-post"></a>
    <div class="form-group">
        <label asp-for="Name">Category:</label>
        <input asp-for="Name"  type="text" class="form-control" id="productSize" placeholder="Enter Category:">
        <span asp-validation-for="Name" class="text-danger" ></span>
    </div>
    <button type="submit" class="btn btn-primary addCateBtn">Add Category</button>
</form>